@model NorthwindSampleDb.Models.CustomersDemographics

@{
	ViewData["Title"] = "Edit - CustomersDemographics";
	Layout="~/Pages/Shared/_Layout.cshtml";
}

<h1>CustomersDemographics - Edit</h1>
@using (Html.BeginForm())
{
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="editor-label">
         @Html.LabelFor(model => model.CustomersTypeId)
        </div>
        <div class="editor-field">
			@Html.DisplayFor(model => model.CustomersTypeId)
            @Html.ValidationMessageFor(model => model.CustomersTypeId, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
         @Html.LabelFor(model => model.CustomersDesc)
        </div>
        <div class="editor-field">
			@Html.TextBoxFor(model => model.CustomersDesc)
            @Html.ValidationMessageFor(model => model.CustomersDesc, "", new { @class = "text-danger" })
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
}
<div>
    @Html.ActionLink("Back to List", "index")
</div>
