@model NorthwindSampleDb.Models.Categories

@{
	ViewData["Title"] = "Details - Categories";
	Layout="~/Pages/Shared/_Layout.cshtml";
}

<h1>Categories - Details</h1>

    <div class="display-label">CategoryID</div>
    <div class="display-field">@Html.DisplayFor(model => model.CategoryID)</div>
    <div class="display-label">CategoryName</div>
    <div class="display-field">@Html.DisplayFor(model => model.CategoryName)</div>
    <div class="display-label">Description</div>
    <div class="display-field">@Html.DisplayFor(model => model.Description)</div>
    <div class="display-label">Picture</div>
    <div class="display-field">@Html.DisplayFor(model => model.Picture)</div>
<br /><br />    
<p>
    @Html.ActionLink("Edit", "Edit", new { CategoryID=Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<br><hr /><br>
<h1>Products</h1>
<table class="table" id="tbl_Products_List">
<thead>
	<tr class="tableCaption">
		<th>ProductId</th>
		<th>ProductName</th>
		<th>SupplierID</th>
		<th>CategoryID</th>
		<th>QuantityPerUnit</th>
		<th>UnitPrice</th>
		<th>UnitsInStock</th>
		<th>UnitsOnOrder</th>
		<th>ReorderLevel</th>
		<th>Discontinued</th>
	</tr>
</thead>
<tbody>
@foreach (var ft in Model.ProductsList) 
{
	<tr>
		<td>@Html.DisplayFor(model => ft.ProductId)</td>
		<td>@Html.DisplayFor(model => ft.ProductName)</td>
		<td>@Html.DisplayFor(model => ft.SupplierID)</td>
		<td>@Html.DisplayFor(model => ft.CategoryID)</td>
		<td>@Html.DisplayFor(model => ft.QuantityPerUnit)</td>
		<td>@Html.DisplayFor(model => ft.UnitPrice)</td>
		<td>@Html.DisplayFor(model => ft.UnitsInStock)</td>
		<td>@Html.DisplayFor(model => ft.UnitsOnOrder)</td>
		<td>@Html.DisplayFor(model => ft.ReorderLevel)</td>
		<td>@Html.DisplayFor(model => ft.Discontinued)</td>
	</tr>
}

</tbody>
</table>
    <script>
        $(document).ready(function () {
            $('#tbl_Products_List').DataTable();
        });
    </script>
