@model NorthwindSampleDb.Models.Customers

@{
	ViewData["Title"] = "Details - Customers";
	Layout="~/Pages/Shared/_Layout.cshtml";
}

<h1>Customers - Details</h1>

    <div class="display-label">CustomerID</div>
    <div class="display-field">@Html.DisplayFor(model => model.CustomerID)</div>
    <div class="display-label">CompanyName</div>
    <div class="display-field">@Html.DisplayFor(model => model.CompanyName)</div>
    <div class="display-label">ContactName</div>
    <div class="display-field">@Html.DisplayFor(model => model.ContactName)</div>
    <div class="display-label">ContactTitle</div>
    <div class="display-field">@Html.DisplayFor(model => model.ContactTitle)</div>
    <div class="display-label">Address</div>
    <div class="display-field">@Html.DisplayFor(model => model.Address)</div>
    <div class="display-label">City</div>
    <div class="display-field">@Html.DisplayFor(model => model.City)</div>
    <div class="display-label">Region</div>
    <div class="display-field">@Html.DisplayFor(model => model.Region)</div>
    <div class="display-label">PostalCode</div>
    <div class="display-field">@Html.DisplayFor(model => model.PostalCode)</div>
    <div class="display-label">Country</div>
    <div class="display-field">@Html.DisplayFor(model => model.Country)</div>
    <div class="display-label">Phone</div>
    <div class="display-field">@Html.DisplayFor(model => model.Phone)</div>
    <div class="display-label">Fax</div>
    <div class="display-field">@Html.DisplayFor(model => model.Fax)</div>
<br /><br />    
<p>
    @Html.ActionLink("Edit", "Edit", new { CustomerID=Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<br><hr /><br>
<h1>Order</h1>
<table class="table" id="tbl_Order_List">
<thead>
	<tr class="tableCaption">
		<th>OrderId</th>
		<th>CustomerID</th>
		<th>EmployeeID</th>
		<th>OrderDate</th>
		<th>RequiredDate</th>
		<th>ShippedDate</th>
		<th>ShipName</th>
		<th>ShipVia</th>
		<th>Freight</th>
		<th>ShipAddress</th>
		<th>ShipCity</th>
		<th>ShipRegion</th>
		<th>ShipPostalCode</th>
		<th>ShipCountry</th>
	</tr>
</thead>
<tbody>
@foreach (var ft in Model.OrderList) 
{
	<tr>
		<td>@Html.DisplayFor(model => ft.OrderId)</td>
		<td>@Html.DisplayFor(model => ft.CustomerID)</td>
		<td>@Html.DisplayFor(model => ft.EmployeeID)</td>
		<td>@Html.DisplayFor(model => ft.OrderDate)</td>
		<td>@Html.DisplayFor(model => ft.RequiredDate)</td>
		<td>@Html.DisplayFor(model => ft.ShippedDate)</td>
		<td>@Html.DisplayFor(model => ft.ShipName)</td>
		<td>@Html.DisplayFor(model => ft.ShipVia)</td>
		<td>@Html.DisplayFor(model => ft.Freight)</td>
		<td>@Html.DisplayFor(model => ft.ShipAddress)</td>
		<td>@Html.DisplayFor(model => ft.ShipCity)</td>
		<td>@Html.DisplayFor(model => ft.ShipRegion)</td>
		<td>@Html.DisplayFor(model => ft.ShipPostalCode)</td>
		<td>@Html.DisplayFor(model => ft.ShipCountry)</td>
	</tr>
}

</tbody>
</table>
    <script>
        $(document).ready(function () {
            $('#tbl_Order_List').DataTable();
        });
    </script>

<br><hr /><br>
<h1>CustomersCustomersDemo</h1>
<table class="table" id="tbl_CustomersCustomersDemo_List">
<thead>
	<tr class="tableCaption">
		<th>CustomerID</th>
		<th>CustomersTypeId</th>
	</tr>
</thead>
<tbody>
@foreach (var ft in Model.CustomersCustomersDemoList) 
{
	<tr>
		<td>@Html.DisplayFor(model => ft.CustomerID)</td>
		<td>@Html.DisplayFor(model => ft.CustomersTypeId)</td>
	</tr>
}

</tbody>
</table>
    <script>
        $(document).ready(function () {
            $('#tbl_CustomersCustomersDemo_List').DataTable();
        });
    </script>
