@model NorthwindSampleDb.Models.CustomersCustomersDemo

@{
	ViewData["Title"] = "Edit - CustomersCustomersDemo";
	Layout="~/Pages/Shared/_Layout.cshtml";
}

<h1>CustomersCustomersDemo - Edit</h1>
@using (Html.BeginForm())
{
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="editor-label">
         @Html.LabelFor(model => model.CustomerID)
        </div>
        <div class="editor-field">
			@Html.DropDownListFor(model => model.CustomerID, (IEnumerable<SelectListItem>)ViewBag.CustomersList, new { @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
        </div>
        <div class="editor-label">
         @Html.LabelFor(model => model.CustomersTypeId)
        </div>
        <div class="editor-field">
			@Html.DropDownListFor(model => model.CustomersTypeId, (IEnumerable<SelectListItem>)ViewBag.CustomersDemographicsList, new { @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.CustomersTypeId, "", new { @class = "text-danger" })
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
}
<div>
    @Html.ActionLink("Back to List", "index")
</div>
